@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.light {
  --background: #6a8cfa;

  --text: white;
  --text-secondary: #708a8a;
}
.dark {
  --background: #262f4d;
  --text: white;
  --text-secondary: #848e9c;
}

body {
  margin: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
